# Data Science Tools and Ecosystem

In THIS NOTEBOOK! You will learn about STUFF SUCH AS data science tools.......... AND ecosystems.

**Objectives:**

- List popular languages
- List commonly used libraries
- List data science tools
- Show basic mathematical expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-learn
3. NumPy
4. ggplot
5. dplyr

| Data Science Tools |
| :-----: |
| Apache Hadoop |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [30]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [48]:
#This will convert 200 minutes to hours by diving by 60

import math
x = 200/60
hour = math.trunc(x)
minutes = (x - math.trunc(x))*60

print('The time in question is',hour,'and', math.trunc(minutes),'minutes')
#Truncating minutes removes any seconds, milliseconds, etc etc (which render as a decimal)

The time in question is 3 and 20 minutes

## Author
Joe